@{ ViewData["Title"] = "Inicio"; }

<div class="text-center">
  <h1 class="display-4">Bienvenido @Context.Request.Cookies["FirstName"]</h1>
  <p>Prueba Técnica para el Puesto .Net Core Web Developer.</p>
  <h2>Juan Rene Guzman</h2>
</div>
